<div class="settings-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Database</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="setting-section">
        <button mat-raised-button color="primary" (click)="backupDatabase()" [disabled]="isBackingUp || isRestoring">
          <mat-icon *ngIf="!isBackingUp">backup</mat-icon>
          <mat-spinner *ngIf="isBackingUp" diameter="20" class="button-spinner"></mat-spinner>
          {{ isBackingUp ? '...' : 'Backup' }}
        </button>
      </div>
      <div class="setting-section">
        <button mat-stroked-button color="accent" (click)="triggerRestore()" [disabled]="isRestoring || isBackingUp">
          <mat-icon *ngIf="!isRestoring">restore</mat-icon>
          <mat-spinner *ngIf="isRestoring" diameter="20" class="button-spinner"></mat-spinner>
          {{ isRestoring ? '...' : '' }}
        </button>
        <input type="file" #fileInput hidden accept=".json" (change)="handleRestoreFile($event)">
      </div>
      <div class="setting-section">
        <button mat-stroked-button color="accent" (click)="reinitializeDatabase()">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>IDEA score (experimental)</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="slider-container" style="display: flex; justify-content: center; padding: 20px 0;">
        <mat-slider min="0" max="10" step="1" discrete="true" showTickMarks>
          <input matSliderThumb [(ngModel)]="scoreThreshold" (input)="onScoreThresholdChange()">
        </mat-slider>
      </div>
    </mat-card-content>
  </mat-card>
</div>