<div class="card-container">

  <div *ngIf="isLoading" class="loading-indicator">
    <mat-spinner diameter="50"></mat-spinner>
    <p>...</p>
  </div>

  <div *ngIf="errorMessage && !isLoading" class="error-message">
    <mat-card appearance="outlined" color="warn">
      <mat-card-header>
        <mat-card-title>Errore</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ errorMessage }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="idea && !isLoading && !errorMessage">
    <mat-card class="idea-card"
              [ngClass]="!isScoring && ideaScore !== null ? getScoreColorClass(ideaScore) : ''"
              matTooltipPosition="above">
      <mat-card-content>
        <p class="idea-text">{{ idea.text }}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button *ngIf="tasksButton" mat-icon-button color="warn" aria-label="Tasks per idea" (click)="tasksEmiter(idea);">
          <mat-icon>list_alt</mat-icon>
        </button>
        <button *ngIf="mergiable" mat-icon-button color="primary" aria-label="Join right operation" (click)="operation(); $event.stopPropagation()">
          <mat-icon>join_right</mat-icon>
        </button>
        <button class="redoOperation" *ngIf="!mergiable" mat-icon-button color="warn" aria-label="Annulla operazione" (click)="clearOperation(); $event.stopPropagation()">
          <mat-icon>join_right</mat-icon>
        </button>
        <button *ngIf="idea.id" mat-icon-button color="warn" aria-label="Cancella idea" (click)="deleteIdea(idea.id);">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
