<div class="card-container">

  <div *ngIf="isLoading" class="loading-indicator">
    <mat-spinner diameter="50"></mat-spinner>
    <p>...</p>
  </div>

  <div *ngIf="idea && !isLoading">
    <mat-card class="idea-card" [ngClass]="!isScoring && ideaScore !== null ? getScoreColorClass(ideaScore) : ''"
      matTooltipPosition="above">
      <mat-card-content>
        <p class="idea-text">{{ idea.text }}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button *ngIf="addIdeaButton" mat-icon-button color="primary"
          (click)="addIdea(idea);$event.stopPropagation()">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="sharedButton" mat-icon-button color="primary"
          (click)="shareCurrentIdea(idea);$event.stopPropagation()">
          <mat-icon>share</mat-icon>
        </button>
        <button *ngIf="tasksButton" mat-icon-button color="primary"
          (click)="tasksEmiter(idea);">
          <mat-icon>list_alt</mat-icon>
        </button>
        <button *ngIf="mergiable && fusionButton" mat-icon-button color="primary"
          (click)="operation(); $event.stopPropagation()">
          <mat-icon>join_right</mat-icon>
        </button>
        <button class="redoOperation" *ngIf="!mergiable" mat-icon-button color="primary"
          (click)="clearOperation(); $event.stopPropagation()">
          <mat-icon>join_right</mat-icon>
        </button>
        <button *ngIf="idea.id && trashButton" mat-icon-button color="primary" (click)="deleteIdea(idea.id);">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>