<div class="search-bar-container">
    <mat-form-field appearance="outline" class="search-input">
        <input aria-label="Search for a category that interests you." matInput type="text" [(ngModel)]="searchTerm" placeholder="Search categories" (keyup.enter)="loadCategories(searchTerm)">
        @if (searchTerm) {
          <button aria-label="Clear the search field." mat-icon-button matSuffix (click)="searchTerm = ''">
              <mat-icon>close</mat-icon>
          </button>
        }
        @if (searchTerm) {
          <button aria-label="Start a search." mat-icon-button matSuffix (click)="loadCategories(searchTerm)">
              <mat-icon>search</mat-icon>
          </button>
        }

    </mat-form-field>
</div>
<div class="category-container">

    @if (errorMessage) {
      <div class="error-message">
          <p>Error: {{ errorMessage }}</p>
          <button mat-button color="warn" (click)="loadCategories()">Retry</button>
      </div>
    } @else {
      <div>
          <mat-chip-listbox aria-label="Select the category for which you want to generate the idea." (change)="onCategorySelectionChange($event.value)"
              [(ngModel)]="selectedCategory" class="mat-mdc-chip-set-stacked">
              @if (categories$ | async; as categories) {
                  @for (category of categories; track category) {
                    <mat-chip-option [value]="category">
                        {{ category }}
                    </mat-chip-option>
                  }
              } @else {
                  <!-- Content of #loadingOrNoData template -->
                  @if ((categories$ | async)?.length === 0 && !errorMessage) {
                    <p>
                        No categories found or still loading...
                    </p>
                  }
              }
          </mat-chip-listbox>
      </div>
    }
</div>