.category-container
  display: flex
  flex-direction: column
  align-items: center

:host ::ng-deep mat-chip-option .mat-mdc-chip-action-label
  display: flex
  justify-content: center
  width: 100%

:host ::ng-deep mat-chip-option h1
  margin: 0

.search-bar-container
  padding: 12px 20px

  .search-input
    width: 100%
  
    ::ng-deep .mat-mdc-input-element
      color: rgba(0, 0, 0, 0.87)