@if (ideasQueue().length > 0) {
  <div class="upcoming-ideas-section">
    @for (queuedItem of ideasQueue().slice(0, MAX_QUEUE_SIZE_FOR_TEMPLATE); track queuedItem.idea.id) {
      <div class="idea-container">
        <div class="idea-content">
          <app-card-idea [addIdeaButton]="true" [idea]="queuedItem.idea" [showActions]="false"></app-card-idea>
        </div>
        <div class="progress-bar-container">
          <div class="progress-bar" [style.width.%]="(queuedItem.timeLeftMs / IDEA_DISPLAY_DURATION_MS) * 100">
          </div>
        </div>
      </div>
    }
  </div>
} @else {
  <div class="status-message">
    <mat-icon aria-label="Users are not sharing ideas.">web_asset_off</mat-icon>
  </div>
}

<div class="queue-status">
  <p aria-label="the maximum number of ideas you can view in real time.">{{ ideasQueue().length }} / {{ MAX_QUEUE_SIZE_FOR_TEMPLATE }}</p>
</div>