<mat-toolbar color="primary" class="bottom-nav-toolbar">
  <div style="display: flex; flex-direction: column; align-items: flex-start;">
    <button mat-button routerLink="/privacy-policy" routerLinkActive="active-nav-link" aria-label="Privacy Policy">
      [privacy policy]
    </button>
    <button mat-button routerLink="/tos" routerLinkActive="active-nav-link" aria-label="Terms of Service">
      [terms of service]
    </button>
  </div>

  <button *ngIf="isOnline$ | async" mat-icon-button routerLink="/generate" routerLinkActive="active-nav-link"
    [routerLinkActiveOptions]="{exact: true}" aria-label="IDEA">
    <mat-icon>lightbulb</mat-icon>
  </button>
  <button *ngIf="isOnline$ | async" mat-icon-button routerLink="/generateCategory" routerLinkActive="active-nav-link" aria-label="New idea">
    <mat-icon>list</mat-icon>
  </button>
  <button *ngIf="isOnline$ | async" mat-icon-button routerLink="/shared" routerLinkActive="active-nav-link" aria-label="New idea">
    <mat-icon>groups_2</mat-icon>
  </button>
  <button mat-icon-button routerLink="/list" routerLinkActive="active-nav-link" aria-label="IDEAS">
    <mat-icon>apps</mat-icon>
  </button>
  <button mat-icon-button routerLink="/settings" routerLinkActive="active-nav-link" aria-label="settings">
    <mat-icon>settings</mat-icon>
  </button>

</mat-toolbar>