
$bottom-nav-z-index: 1050
$active-nav-color: #ffc107

:host
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: $bottom-nav-z-index
  box-shadow: 0 -2px 5px rgba(0,0,0, 0.1)

.bottom-nav-toolbar
  justify-content: space-around
  padding: 0 5px

  button
    color: inherit
    background: none
    border: none
    cursor: pointer

    &.active-nav-link
      color: $active-nav-color

.nav-button > div
  display: flex;
  flex-direction: column;
  align-items: center;